<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.min.css" />
    <title>GOV.UK - <%= pageTitle %></title>
  </head>
<body>
<% include header.html %>
	<div id="header-banner-bar">
		<div id="header-banner-bar-content-wrapper">
			<div class="row">
				<div class="column-10 float-left"><h1>Applicant Search</h1></div>
				<div class="column-2 float-right">Login/Out</div>	
			</div>
		</div>
	</div>
	<div id="content-wrapper">
<% include sitemap.html %>
<% include applicant-viewer.html %>
	</div>
</body>
</html>