<div id="viewer">
    <div id="viewer-header">
        <div>
            <div class="row">
                <div class="column-11"><h2>Viewing details for applicant (APP ID)</h2><p>(JOB TITLE) - (JOB ID)</p></div>
                <div class="column-1 float-right"><a href="#">Close</a></div>
            </div>
        </div>
    </div>
    <div id="viewer-content">
        <table id="app-details">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>(ID)</td>
                    <td>(NAME)</td>
                    <td>(SURNAME)</td>
                    <td>(DOB)</td>
                </tr>
            </tbody>
        </table>
        <table id="app-employment">
            <thead>
                <tr>
                    <th> Work Experience </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>(EMPLOYER) (START DATE) - (END DATE)</p>
                        <p>(ROLE)</p>
                        <p>(DESCRIPTION)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>(EMPLOYER) (START DATE) - (END DATE)</p>
                        <p>(ROLE)</p>
                        <p>(DESCRIPTION)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>(EMPLOYER) (START DATE) - (END DATE)</p>
                        <p>(ROLE)</p>
                        <p>(DESCRIPTION)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="viewer-footer">
        <div><a href="#">Back to top</a></div>
    </div>
</div>