<div id="viewer">
    <div id="viewer-header">
        <div>
            <h2>Viewing jobs</h2>
        </div>
        <div id="viewer-search-tools">
            <div>
                <form action="" method="get" name="filter">
                    <div class="row">
                        <div class="column-6"><label for="JobId">Job ID</label><input type="text" size="11" name="JobId" value="<% if(JobId){%><%=JobId%><%}%>" class="okay"></div>
                    </div>
                    <div class="row">
                        <div class="column-full"><input type="submit" value="Filter"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="viewer-content">
        <table id="app-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Job</th>
                    <th>Closing date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i in jobs){ %>
                <tr>
                    <td><p class="sidelabel">Job ID</p><%= jobs[i].ID %></td>
                    <td><p class="sidelabel">Job Title</p><%= jobs[i].Title %></td>
                    <td><p class="sidelabel">Closing Date</p><%= jobs[i].CloseDate %></td>
                    <td><a href="/applicants/<%= jobs[i].ID.replace(/\//g, '-') %>">View Applicants</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="viewer-footer">
        <div><p>Showing <%= jobs.length %>  jobs <%= FilterText %></p></div>
    </div>
</div>