<div id="viewer">
    <div id="viewer-header">
        <div>
            <h2>Viewing jobs</h2>
            <p id="status">(STATUS)</p>
        </div>
        <div id="viewer-search-tools">
            <div>
                <form action="">
                    <div class="row">
                        <div class="column-6"><label for="job_id">Job ID</label> <input type="text" name="job_id"></div>
                    </div>
                    <div class="row">
                        <div class="column-full"><input type="submit" value="Filter"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="viewer-content">
        <table id="app-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Job</th>
                    <th>Closing date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < jobs.length; i++){ %>
                <tr>
                    <td><p class="sidelabel">Job ID</p><%= jobs[i].ID %></td>
                    <td><p class="sidelabel">Job Title</p><%= jobs[i].Title %></td>
                    <td><p class="sidelabel">Closing Date</p><%= jobs[i].CloseDate %></td>
                    <td><a href="/applicants/<%= jobs[i].ID %>">View Applicants</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="viewer-footer">
        <div><p>Showing (SHOWN)/(TOTAL) applicants for (JOBID) filtered by (FILTER).</p></div>
    </div>
</div>