		<div id="viewer">			
			<div id="viewer-tools">
                <div class="row zero-margin">
                    <div class="column-full">
                        <h2>Viewing applicants for Job ID</h2>
                    </div>
                </div>
                <div class="row zero-margin">
                    <form action="">
                        <div class="column-5">
                            <label for="app_id">ID</label> <input type="text" name="app_id">
                        </div>
                        <div class="column-5">
                            <label for="app_surname">Surname</label> <input type="text" name="app_surname" />
                        </div>
                        <div class="column-2">
                            <input type="submit" value="Filter">
                        </div>
                    </form>
                </div>
			</div>
			<div id="viewer-content">
					<ul>
						<li  class="row zero-margin bold">
								<p class="column-2 no-gutter">ID</p>
								<p class="column-4 no-gutter">Name</p>
								<p class="column-4 no-gutter">Surname</p>
								<p class="column-2 no-gutter">View</p>						
						</li>
						<li  class="row zero-margin">
								<p class="column-2 no-gutter">ID</p>
								<p class="column-4 no-gutter">Name</p>
								<p class="column-4 no-gutter">Surname</p>
								<a class="column-2 no-gutter" href="#">View</a>						
						</li>
						<li  class="row zero-margin">
								<p class="column-2 no-gutter">ID</p>
								<p class="column-4 no-gutter">Name</p>
								<p class="column-4 no-gutter">Surname</p>
								<a class="column-2 no-gutter" href="#">View</a>						
						</li>
						<li  class="row zero-margin">
								<p class="column-2 no-gutter">ID</p>
								<p class="column-4 no-gutter">Name</p>
								<p class="column-4 no-gutter">Surname</p>
								<a class="column-2 no-gutter" href="#">View</a>						
						</li>
						<li  class="row zero-margin">
								<p class="column-2 no-gutter">ID</p>
								<p class="column-4 no-gutter">Name</p>
								<p class="column-4 no-gutter">Surname</p>
								<a class="column-2 no-gutter" href="#">View</a>						
						</li>
					</ul>
			</div>
            <div id="viewer-footer">
                <p>Showing x/y applicants</p>
            </div>
		</div>