<div id="viewer">
    <div id="viewer-header">
        <div>
            <h2>Viewing applicants for job <%= jobId %></h2>
            <p id="status">(STATUS)</p>
        </div>
        <div id="viewer-search-tools">
            <div>
                <form action="">
                    <div class="row">
                        <div class="column-6"><label for="app_id">ID</label> <input type="text" name="app_id"></div>
                        <div class="column-6"><label for="app_surname">Surname</label> <input type="text" name="app_surname" /></div>
                    </div>
                    <div class="row">
                        <div class="column-full"><input type="submit" value="Filter"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="viewer-content">
        <table id="app-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < applicants.length; i++){ %>
                <tr>
                    <td><p class="sidelabel">Applicant ID</p><%= applicants[i].ID %></td>
                    <td class="split"><p class="sidelabel">Name</p><%= applicants[i].Name %></td>
                    <td class="split"><p class="sidelabel">Surname</p><%= applicants[i].Surname %></td>
                    <td><a href="/applicants/<%= jobId %>/view/<%= applicants[i].ID %>">View</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="viewer-footer">
        <div><p>Showing (SHOWN)/(TOTAL) applicants for (JOBID) filtered by (FILTER).</p></div>
    </div>
</div>