// Stylesheet for viewer object on the page, including search tools and table formatting

// Viewer header styling

// Containers

#viewer-header {
    @extend %grid-row;
    margin: 0px;
    background-color: $org-colour;
    color: $white;
    padding: 10px;
}

#viewer-header > div {
    @include grid-column(1);
}

// Font styling for the viewer header

#viewer-header h2 {
    @include bold-27;
    margin-bottom: 15px;
}

#viewer-header p {
    margin-bottom: 15px;
}

#viewer-header a {
    @include bold-16;
    color: $white;
    text-decoration: none;
}

#viewer-header a:hover {
    text-decoration: underline;
}

// Form styling for the viewer

#viewer-search-tools div input[type="submit"] {
}

#viewer-search-tools input[type="submit"] {
    width: auto;
    @include button($grey-3);
}

#viewer-search-tools input[type=submit]:active {
    top: auto;
}

#viewer-search-tools label, #viewer-search-tools input {
    @include core-19;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

#viewer-search-tools input[type=text] {
    box-sizing: border-box;
    padding: 4px;
}

//#viewer-search-tools input[type=text]:focus {
//    outline: 3px solid $focus-colour;
//}

// Viewer content styling

// Container

#viewer-content {
    background-color: $grey-3;
    padding: 10px;
}

// Table styling

#viewer-content table {
    border-collapse: collapse;
    border: 1px solid $grey-2;
    width: 100%;
}

#viewer-content table td, #viewer-content table th {
    padding: 10px;
}

#viewer-content tbody tr {
    border-bottom: 1px solid $grey-2;
    background-color: $grey-4;
}

//#viewer-content tbody tr:nth-last-of-type(2n) {
//    background-color: $grey-4;
//}

#viewer-content th {
    background-color: $grey-2;
    text-align: left;
}

#viewer-content td {
    box-sizing: border-box;
    display: block;

    @include media(tablet) {
        display: table-cell;
        width: auto;
    }
}

#viewer-content td:before {
    content: attr(data-th);
}

// Viewer footer styling

// Container

#viewer-footer {
    @extend %grid-row;
    margin: 0px;
    background-color: $org-colour;
    color: $white;
    padding: 10px;
}

#viewer-footer a {
    display: block;
    @include bold-16;
    text-align: center;
    text-decoration: none;
    color: $white;
}

#viewer-footer > div {
    @include grid-column(1);
}

// Page specific styling

// Applicant list

#app-list td:last-of-type a {
    display: block;
    text-align: center;
    text-decoration: none;
    @include bold-16;
    color: $black;
    margin-top: 10px;

    @include media(tablet) {
        display: table-cell;
        width: auto;
        text-align: inherit;
    }
}

#app-list td {
    display: block;
    width: 50%;
    float: left;

    @include media(tablet) {
        display: table-cell;
        width: auto;
        float: inherit;
    }
}

#app-list td:first-of-type, #app-details td:first-of-type {
    background-color: $grey-2;
    width: 100%;
    font-weight: 700;

    @include media(tablet) {
        background-color: inherit;
        width: auto;
        color: inherit;
        font-weight: inherit;
    }
}

#app-list td:first-of-type p, #app-details td:first-of-type p {
    float: left;
    margin: 0;
    margin-right: 10px;
    border: none;
}



#app-list td:last-of-type {
    width: 100%;

    @include media(tablet) {
        width: auto;
    }
}


#app-list thead, #app-details thead {
    display: none;

    @include media(tablet) {
        display: table-header-group;
    }
}

// Applicant details

#app-employment {
    margin-top: 10px;
}

.app-employment-element td {
    width: auto;

    @include media(tablet) {
        width: 25%;
    }
}

.app-employment-element th {
    width: auto;

    @include media(tablet) {
        width: 25%;
    }
}

.app-employment-element thead {
    display: none;

    @include media(tablet) {
        display: table-header-group;
    }
}

.app-employment-element td {
    display: block;

    @include media(tablet) {
        display: table-cell;
    }
}

p.sidelabel, p.label {
    width: auto;
    border-bottom: 1px solid $grey-3;
    @include bold-16;
    padding: 0 0 5px 0;
}

p.sidelabel {
    display: block;

    @include media(tablet) {
        display: none;
    }
}

td.split {
    display: block;
    width: 50%;
    float: left;

    @include media(tablet) {
        display: table-cell;
        width: auto;
        float: inherit;
    }
} 
